@model IEnumerable<OdeToFood.Models.Restaurant>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @foreach (var restaurant in Model)
    {
        <h1>@restaurant.Name</h1>
        <div>With id of @restaurant.Id</div>
    }
</body>
</html>